SCHAIN_NAMES=
PROXY_DOMAIN=
ETH_ENDPOINT=

SSL_ENABLED=                                     # optional
INTERNAL_DOMAIN_NAME=                            # required if ssl enabled
IS_TESTNET=                                      # optional
WALLET_CONNECT_PROJECT_ID=                       # optional
DB_PASSWORD=                                     # optional
RE_CAPTCHA_SECRET_KEY=                           # optional
USE_HTTP_ENDPOINT=                               # optional, set to 'true' to use IP endpoints instead of domain endpoints
HOST=                                            # optional, override auto-detected public IP address
